body{
	font-family:sans-serif;
	background-color:#1e1e2f;
}
h1{
	text-align:center;
	color:#00eaff;
	margin:30px 0 50px;
}
.gallery{
	display:flex;
	display:grid;
	grid-template-columns:repeat(5,1fr);
	flex-wrap:wrap;
	justify-items:center;
	gap:15px;
	padding:20px;
}
.gallery img{
	width: 200px;
	height:200px;
	object-fit:cover;
	border-radius:10px;
	transition:transform 0.3s;
	padding:5px;
	filter:grayscale(100%);
}
.gallery img:hover{
	filter:grayscale(0);
	transform:scale(1.1);
}
